body {
  margin: 0;
  font-weight: 400;
}

body ul {
  margin: 0;
  padding: 0;
}

body li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body .container {
  width: 100%;
}

body header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  line-height: 50px;
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

body header .header-logo {
  float: left;
  color: #777;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
}

body header .header-menu-right {
  float: right;
  margin-right: 20px;
  font-size: 30px;
}

body header .header-menu-right li {
  float: left;
}

body header .header-menu-right a {
  color: #323A45;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
}

body header .header-menu-right a:hover {
  color: #5983ff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

body .top-section {
  margin: 0 auto;
  background-image: url("top.jpg");
  background-size: cover;
  height: 600px;
}

body .top-section .top-inner {
  padding: 0;
  margin-top: 50px;
  /*
            .top-title  {
                font-style: Chalkduster;
                margin-top:20px;
                font-size: 100px;
                color: white;
            }*/
}

body .top-section .top-inner .logoimg {
  margin: 0 auto;
  width: 40%;
  height: auto;
  margin-left: 30%;
  margin-top: 2%;
}

body .top-section .top-inner .top-description h2 {
  font-style: Marker Felt, fantasy;
  color: white;
  margin: 0 auto;
  margin-top: 0%;
  text-align: center;
}

body .about {
  height: 40vw;
  width: 100%;
  text-align: center;
}

body .about .about-inner {
  margin-top: 4%;
}

body .about .about-inner .about-title {
  font-size: 7vw;
  color: #0ba2d8;
}

body .about .about-inner .about-ex {
  padding-top: 2%;
  font-size: 2.3vw;
  line-height: 180%;
}

body .intro-section {
  width: 100%;
}

body .intro-section #intro-carousel {
  height: 600px;
}

body .intro-section #intro-carousel li {
  background-color: #869791;
  position: relative;
  top: 10px;
}

body .intro-section .intro-box {
  margin: 0 auto;
  width: 100%;
  height: 600px;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 20px 15px 15px 20px;
  z-index: 0;
  margin-top: 0px;
}

body .intro-section .intro-box .paracordimg {
  float: left;
  margin-top: 1%;
  margin-left: 0%;
  width: 63%;
  height: auto;
}

body .intro-section .intro-box .townimg {
  float: left;
  width: 33%;
  height: auto;
  margin-left: 20%;
}

body .intro-section .intro-box .outdoorimg {
  width: 63%;
  height: auto;
  float: right;
  margin-top: 1%;
  margin-right: 30%;
  position: absolute;
}

body .intro-section .intro-box .title-box {
  position: absolute !important;
  margin-left: 70%;
  height: 90px;
  width: 28%;
  float: right;
  background: #e9e4e4;
  border: solid 6px #0ba2d8;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}

body .intro-section .intro-box .title-box h3 {
  margin: 0;
  padding: 0;
  font-size: 70px;
  text-align: center;
  position: relative;
  top: -5px;
}

body .intro-section .carousel-control {
  color: white !important;
}

body .intro-section .intro-description {
  font-size: 20px;
  position: absolute;
  margin-top: 10%;
  margin-left: 65%;
}

body .aboutme-intro {
  height: 40%;
  width: 100%;
}

body .aboutme-intro .aboutmeimg {
  margin-top: 3%;
  margin-left: 13%;
  margin-bottom: 3%;
  width: 17%;
  height: auto;
}

body .aboutme-intro .aboutme-description {
  float: right;
  margin-top: 5%;
  margin-right: 25%;
  font-size: 200%;
}

body .aboutme-intro .aboutme-description .h1 {
  text-align: center;
}

body .gallery-section {
  background-color: #e6e6e6;
}

body .gallery-section .gallery-title h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 2%;
}

body .gallery-section #gallery-carousel {
  height: 37vw;
  margin-bottom: 2%;
}

body .gallery-section .gallery-fluid {
  margin: 0 auto;
  width: 25%;
  height: auto;
}

body .gallery-section .g0 {
  width: 28%;
  height: auto;
}

body .gallery-section .g1, body .gallery-section .g2, body .gallery-section .g3, body .gallery-section .g4 {
  width: 37%;
}

body .gallery-section .g6, body .gallery-section .g7 {
  width: 28%;
}

body .gallery-section .g8 {
  width: 20%;
}

body .gallery-section .g5 {
  width: 60%;
}

body .gallery-section .g9 {
  width: 50%;
}

body .main-section {
  height: 600px;
  width: 100%;
  background-color: orange;
}

body .main-section li {
  float: left;
  margin: 0;
  text-align: center;
  height: 600px;
  margin: 0 auto;
}

body .main-section h3 {
  margin-top: 30px;
}

body .main-section .workshop {
  background-color: orange;
  width: 32%;
}

body .main-section .order {
  background-color: red;
  width: 36%;
}

body .main-section .online {
  background-color: orange;
  width: 32%;
}

body footer {
  background-color: #cccccc;
  height: 300px;
}

body footer .container {
  width: 100%;
  height: 0%;
  margin: 0;
  padding: 0;
}

body footer .contact-info {
  margin-top: 1%;
  width: 10%;
  margin-right: 0;
  padding-right: 0;
  right: 0;
}

body footer .contact-info h3 {
  font-size: 40px;
}

body footer .about-me {
  margin-top: 1%;
  margin-left: 30%;
  position: relative;
  width: 20%;
}
/*# sourceMappingURL=stylesheetK.css.map */