body {
    margin: 0;
    font-weight: 400;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
        transition: all .3s;
    }

    .container  {
        width: 100%;

    }

    header {
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        line-height: 50px;
        box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
        z-index: 10;

        .header-logo{
            float: left;
            color: #777;
            font-weight: 700;
            font-size: 30px;
            font-family: 'Dosis', sans-serif;
            cursor: pointer;
        }

        .header-menu-right {
            float: right;
            margin-right: 20px;
            font-size: 30px;

            li {
                float:left;
            }

            a {
                color: #323A45;
                font-weight: 700;
                padding: 10px;
                text-decoration: none;

                &:hover {
                    color: #5983ff;
                    transition: color .3s;
                }
            }

            
        }
    }

    .top-section {
        margin: 0 auto;
        background-image: url("top.jpg");
        background-size: cover;
        height: 600px;

        .top-inner {
            padding:0;
            margin-top: 50px;
            /*
            .top-title  {
                font-style: Chalkduster;
                margin-top:20px;
                font-size: 100px;
                color: white;
            }*/
            .logoimg{
                margin: 0 auto;
                width: 40%;
                height: auto;
                margin-left: 30%;
                margin-top: 2%;

            }

            .top-description {

                h2 {
                    font-style: Marker Felt, fantasy;
                    color: white;
                    margin: 0 auto;
                    margin-top: 0%;
                    text-align: center;
                }
            }

        }

        
    }

    .intro-section{
        width: 100%;

        #intro-carousel {
            height: 600px;

            li {
                background-color: #869791;
                position: relative;
                top: 10px;
            }
            
        }

        .intro-box {
            margin: 0 auto;
            width: 100%;
            height: 600px;
            overflow: hidden;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            
            
            //position: relative;
            //border: 2px solid #007b43; /*左枠線*/
            
            width: 90%;
            padding: 20px 15px 15px 20px;
            z-index: 0;

            margin-top: 0px;
            
            .img-fluid {
                //共通   
                float:right;
            }
            .paracordimg{
                //paracordのところ
                padding-top:0px;
                margin-left:40%;
                 width: 60%;
                 height: auto;
            }
            
            .townimg{
                float:left;
                width: 33%;
                height: auto;
                margin-left: 10%
            

            }

            .outdoorimg{
                width: 63%;
                height: auto;
                float: right;
                margin-top: 1%;
                margin-right: 30%;
                position: absolute;


            }
            .title-box {
                position: absolute !important;
                margin-left: 70%;
                height: 90px;
                width: 28%;
                float: right;

                //padding: 0.5em 1em;
                //margin: 1em 0;
                background: #e9e4e4;
                border: solid 6px #0ba2d8;
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);

                h3  {
                    margin: 0;
                    padding: 0;
                    font-size: 70px;
                    text-align: center;
                    position: relative;
                    top: -5px;
                }

               
            }
        }
        
        .carousel-control{
            color: white !important;
        }                            


        .intro-description {
            font-size: 20px;

        }
        
        .paracordex {
            position: absolute;
            margin-top:7%;
            margin-left:2%
        }
        .townex {
            margin-left:80%;
            margin-top:20%;
        }
        .outdoorex {

        }
    }
    //自己紹介
    .aboutme-intro {
        height: 500px;
        width:100%;
        //画像設定
        .aboutmeimg{
            margin-top:3%;
            margin-left:13%;
            width: 17%;
            height: auto;
        }
        .aboutme-description{
            float:right;
            margin-top: 5%;
            margin-right:25%;
            font-size: 200%;
            .h1{
                text-align: center;
            }
        }
    }

    .gallery-section {
        background-color: darken(white, 10%);

        .gallery-title{
            h2 {
                font-size: 60px;
                text-align: center;
            }
        }

        #gallery-carousel {
            height: 30%;
            margin-bottom: 2%;
        }

        .gallery-fluid{
            margin: 0 auto;
            width: 25%;
            height: auto;
        }

        .g0 {
            width: 28%;
            height: auto;
        }

        .g1,.g2,.g3,.g4{
            width: 37%;
        }
        .g6, .g7{
            width: 28%;
        }
        .g8{
            width: 20%;
        }
        .g5{
            width:60%;
        }
        .g9{
            width:50%;
        }

    }

    .main-section {
        height: 600px;
        width: 100%;
        background-color: orange;

        li {
            float: left;
            margin: 0;
            text-align: center;
            height: 600px;

            margin: 0 auto;
            
        }

        h3 {
            margin-top: 30px;
        }

        .workshop {
            background-color: orange;
            width: 32%;
        }

        .order {
            background-color: red;
            width: 36%;

        }

        .online {
            background-color: orange;
            width: 32%;
        }
    }

    footer {
        background-color: darken(white, 20%);
        height: 300px;
        width: 100%;

        .contact-info {
            margin-top: 20px;
            width: 40%;

            h3 {
                font-size: 40px;
            }
        }

        .about-me {
            width: 20%;
            float: right;
            right: 30px;
            margin-bottom: 15%;
            background-color: darken(white, 10%);
            height: 300px;
            
        }
    }

    
}

//起動用
