body {
    margin: 0;
    font-weight: 400;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
        transition: all .3s;
    }

    .container  {
        width: 100%;
        
    }

    header {
        height: 2.7vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        line-height: 2.7vw;
        z-index: 10;

        .header-logo{
            float: left;
            color: #0ba2d8;
            font-weight: 700;
            margin-left:10vw;
            font-size: 1.5vw;
            font-family: 'Dosis', sans-serif;
            cursor: pointer;
            display:inline-block;
        }

        .header-menu-right {
            float: right;
            margin-right: 1vw;
            font-size: 1.5vw;

            li {
                float:left;
            }

            a {
                color: #323A45;
                font-weight: 700;
                padding-left: 10vw;
                padding-right:10vw;
                text-decoration: none;

                &:hover {
                    color: #0ba2d8;
                    transition: color .3s;
                }
            }

            
        }
    }

    .top-section {
        margin: 0 auto;
        background-image: url("top.jpg");
        background-size: cover;
        height: 40vw;

        .top-inner {
            .logoimg{
                margin: 0 auto;
                margin-top:8vw;
                width: 40vw;
                height: auto;
                margin-left: 30vw;
                margin-bottom:0;
            }

            .top-description {
                font-family: 'Marker Felt', fantasy;
                color: white;
                margin: 0 auto;
                margin-top: 0%;
                text-align: center;
                font-size: 3vw;
            }
        }
    }

    .about{
        height:40vw;
        width:100%;
        text-align:center;
        

        .about-inner{
            margin-top:3vw;
            .about-title{
                font-size:1vw;
                color: #0ba2d8;

                    position: relative;
                    display: inline-block;
                    padding: 0 46%;
                  
                  
                  :before, :after {
                    margin: 0 auto;
                    content: '';
                    position: absolute;
                    top: 50%;
                    display: inline-block;
                    width: 41vw;
                    height: 1.5vw;
                    border-top: solid 0.4vw #0ba2d8;
                    border-bottom: solid 0.4vw #0ba2d8;
                    
                  }
                  text-align: center;
                  :before {
                    left:0;
                  }
                  :after {
                    right: 0;
                  }
            }
            .about-ex{
                padding-top:4vw;
                font-size: 2.3vw;
                line-height: 180%;
            }
        }
        
    }

    .intro-section{
        width: 100%;

        #intro-carousel {
            height: 34vw;

            li {
                background-color: #869791;
                position: relative;
                top: 1vw;
            }
            
        }

        .intro-box {
            margin: 0 auto;
            width: 100%;
            height: 34vw;
            overflow: hidden;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            
            
            //position: relative;
            //border: 2px solid #007b43; /*左枠線*/
            
            width: 90%;
            padding: 20px 15px 15px 20px;
            z-index: 0;

            margin-top: 0px;
            
            .paracordimg{
                //paracordのところ
                float:left;
                margin-top:4vw;
                margin-left:0%;
                 width: 50vw;
                 height: auto;
            }
            
            .townimg{
                float:left;
                width: 30vw;
                height: auto;
                margin-left: 15vw;
            

            }

            .outdoorimg{
                width: 63%;
                height: auto;
                float: right;
                margin-top: 1%;
                margin-right: 30%;
                position: absolute;


            }
            .title-box {
                position: absolute !important;
                margin-left: 70%;
                height: 90px;
                width: 28%;
                float: right;

                //padding: 0.5em 1em;
                //margin: 1em 0;
                background: #e9e4e4;
                border: solid 6px #0ba2d8;
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);

                h3  {
                    margin: 0;
                    padding: 0;
                    font-size: 70px;
                    text-align: center;
                    position: relative;
                    top: -5px;
                }

               
            }
        }
        
        .carousel-control{
            color: white !important;
        }                            


        .intro-description {
            font-size: 20px;
            position: absolute;
            margin-top:10%;
            margin-left:65%

        }
        
    }
    //自己紹介
    .aboutme-intro {
        height: 40%;
        width:100%;
        //画像設定
        .aboutmeimg{
            margin-top:3%;
            margin-left:13%;
            margin-bottom:3%;
            width: 17%;
            height: auto;
        }
        .aboutme-description{
            float:right;
            margin-top: 5%;
            margin-right:25%;
            font-size: 200%;
            .h1{
                text-align: center;
            }
        }
    }

    .main-section {
        height: 600px;
        width: 100%;
        background: linear-gradient(-135deg, #a8e8ff, #0d9bcf);

        

        li {
            float: left;
            margin: 0;
            text-align: center;
            height: 600px;

            margin: 0 auto;
            
        }

        h3 {
            margin-top: 30px;
        }

        .order {
        
            width: 30vw;
            .order-title{
                margin: 0 auto;
                font-size: 4vw;
                margin-top: 2.6vw;
                color: #fe844c;
                text-shadow: 0.3vw 0.1vw 0.2vw #0805b9;
                font-family: Century Gothic;
            }

            .order-contents{
               
                margin:0 auto;
                font-size: 1.4vw;
                padding-top: 0.8vw;
                line-height: 2.5vw;
                color: rgba(0, 0, 0, 0.582);
            }
            .order-box{
                
                margin-left: 6.5vw;
                margin-top: 3vw;
                position: relative;
                width:20vw;
                height: 15vw;
                padding: 0.25em 1em;
                border: solid 0.2vw #FEA54C;
                border-radius: 2vw 2vw 2vw 2vw;
                box-shadow: 0vw 0.1vw 0.7vw #0805b9;
            }

            
            .order-box:before,.order-box:after{
              
                border: solid 0.2vw #ffcc9a;
                box-shadow: 0.5vw 0.5vw 2vw #0805b9;
                border-radius: 30%;
                
            }
            .order-box:after {
                content: '';
                position: absolute;
                width:3vw;
                height: 3vw;
                top:-1.6vw;
                left:-1.2vw;
            }
            .order-box:before {
                content: '';
                position: absolute;
                width:5vw;
                height: 5vw;
                bottom:-3vw;
                right:-2.5vw;
            }
            .order-box p {
                margin: 0; 
                padding: 0;
                
            }

      

            .order-button{
                height: 6vw;
                width: 16vw;
                background: linear-gradient(-135deg,#ffbd7b, #fd761c);
                box-shadow: 0.5vw 0.3vw 1vw #0805b9;
                float: left;
                margin-top: 6.5vw;
                margin-left: 7.8vw;
                border-top-left-radius: 7vw;
                border-top-right-radius: 15vw;
                border-bottom-right-radius: 7vw;
                border-bottom-left-radius: 7vw;
            }

            a{
                
                width:10vw;
                height:10vw;
                text-decoration: none;
                background:#0099FF;
                text-align:center;
                padding-top: 1.7vw;
                color:#FFFFFF;
                font-size:25px;
                font-family: Franklin Gothic Medium;
                border-radius:10px;
                -webkit-border-radius:10px;
                -moz-border-radius:10px;
                box-shadow:5px 5px 0px 0px #DEDEDE ;
            }
            a:hover{
                background: radial-gradient(#fcd1a4, #ff6207);
                color:#0576c2;
                margin-right:5vw;
                box-shadow:none;
            }
            

        }

        .workshop {
            width: 35vw;
            .workshop-title{
                margin: 0 auto;
                font-size: 4vw;
                margin-top: 2.6vw;
                color: #fe844c;
                text-shadow: 0.3vw 0.1vw 0.2vw #0805b9;
                font-family: Century Gothic;
                
            }
            .workshop-contents{
                margin:0 auto;
                font-size: 1.4vw;
                padding-top: 0.8vw;
                line-height: 2.5vw;
                color: rgba(0, 0, 0, 0.582);
        
            }

            .workshop-box{
                
                margin-left: 8vw;
                margin-top: 3vw;
                position: relative;
                width:20vw;
                height: 15vw;
                padding: 0.25em 1em;
                border: solid 0.2vw #FEA54C;
                border-radius: 2vw 2vw 2vw 2vw;
                box-shadow: 0vw 0.1vw 0.7vw #0805b9;
            }

            
            .workshop-box:before,.workshop-box:after{
              
                border: solid 0.2vw #ffcc9a;
                box-shadow: 0.5vw 0.5vw 2vw #0805b9;
                border-radius: 30%;
                
            }
            .workshop-box:after {
                content: '';
                position: absolute;
                width:3vw;
                height: 3vw;
                top:-1.6vw;
                left:-1.2vw;
            }
            .workshop-box:before {
                content: '';
                position: absolute;
                width:5vw;
                height: 5vw;
                bottom:-3vw;
                right:-2.5vw;
            }
            .workshop-box p {
                margin: 0; 
                padding: 0;
                
            }

            .workshop-button{
                height: 6vw;
                width: 16vw;
                background: linear-gradient(#fdcfa1, #fd761c);
                box-shadow: 0.5vw 0.3vw 1vw #0805b9;
                margin-top: 6.5vw;
                margin-left: 10vw;
                float: left;
                border-top-left-radius: 7vw;
                border-top-right-radius: 15vw;
                border-bottom-right-radius: 7vw;
                border-bottom-left-radius: 7vw;
            }

            a{
                
                width:10vw;
                height:10vw;
                text-decoration: none;
                background:#0099FF;
                text-align:center;
                padding-top: 1.7vw;
                color:#FFFFFF;
                font-size:25px;
                font-family: Franklin Gothic Medium;
                border-radius:10px;
                -webkit-border-radius:10px;
                -moz-border-radius:10px;
                box-shadow:5px 5px 0px 0px #DEDEDE ;
            }
            a:hover{
                background: radial-gradient(#fcd1a4, #ff6207);
                color:#0576c2;
                margin-right:5vw;
                box-shadow:none;
            }
        }

        .event {
            width: 30vw;
            .event-title{
                margin: 0 auto;
                font-size: 4vw;
                margin-top: 2.6vw;
                color: #fe844c;
                text-shadow: 0.3vw 0.1vw 0.2vw #0805b9;
                font-family: Century Gothic;
            }
            .event-contents{
                margin:0 auto;
                font-size: 1.4vw;
                padding-top: 0.8vw;
                line-height: 2.5vw;
                color: rgba(0, 0, 0, 0.582);
           
            }


            .event-box{
                
                margin-left: 6vw;
                margin-top: 3vw;
                position: relative;
                width:20vw;
                height: 15vw;
                padding: 0.25em 1em;
                border: solid 0.2vw #FEA54C;
                border-radius: 2vw 2vw 2vw 2vw;
                box-shadow: 0vw 0.1vw 0.7vw #0805b9;
            }

            
            .event-box:before,.event-box:after{
              
                border: solid 0.2vw #ffcc9a;
                box-shadow: 0.5vw 0.5vw 2vw #0805b9;
                border-radius: 30%;
                
            }
            .event-box:after {
                content: '';
                position: absolute;
                width:3vw;
                height: 3vw;
                top:-1.6vw;
                left:-1.2vw;
            }
            .event-box:before {
                content: '';
                position: absolute;
                width:5vw;
                height: 5vw;
                bottom:-3vw;
                right:-2.5vw;
            }
            .event-box p {
                margin: 0; 
                padding: 0;
                
            }

            
            .event-button{
                height: 6vw;
                width: 16vw;
                background:linear-gradient(#fdcfa1, #fd761c);
                box-shadow: 0.5vw 0.3vw 1vw #0805b9;
                float: right;
                margin-top: 6.5vw;
                margin-right: 7.5vw;
                border-top-left-radius: 7vw;
                border-top-right-radius: 15vw;
                border-bottom-right-radius: 7vw;
                border-bottom-left-radius: 7vw;
                
            }

           a{
                
                width:100%;
                height:100%;
                text-decoration: none;
                background:#0099FF;
                text-align:center;
                padding-top: 1.7vw;
                color:#FFFFFF;
                font-size:25px;
                font-family: Franklin Gothic Medium;
                border-radius:10px;
                -webkit-border-radius:10px;
                -moz-border-radius:10px;
                box-shadow:5px 5px 0px 0px #DEDEDE ;
            }
            a:hover{
                background: radial-gradient(#fcd1a4, #ff6207);
                color:#0576c2;
                box-shadow:none;
            }
        }
    }

    .gallery-section {
        background-color: darken(white, 10%);

        .gallery-title{
            h2 {
                font-size: 60px;
                text-align: center;
                margin-bottom: 2%;
            }
        }

        #gallery-carousel {
            height: 37vw;
            margin-bottom: 2%;
        }

        .gallery-fluid{
            margin: 0 auto;
            width: 25%;
            height: auto;
        }

        .g0 {
            width: 28%;
            height: auto;
        }

        .g1,.g2,.g3,.g4{
            width: 37%;
        }
        .g6, .g7{
            width: 28%;
        }
        .g8{
            width: 20%;
        }
        .g5{
            width:60%;
        }
        .g9{
            width:50%;
        }

    }

    footer {
        background-color: darken(white, 20%);
        height: 300px;
        .container{
            width:100%;
            height: 0%;
            margin:0;
            padding:0;
        }

        .contact-info {
            margin-top: 1%;
            width: 10%;
            margin-right:0;
            padding-right:0;
            right:0;

            h3 {
                font-size: 40px;
            }
        }

        .about-me {
            margin-top:1%;
            margin-left:30%;
            position:relative;
            width: 20%;
            
        }
    }

    
}

//起動用
