body {
  margin: 0;
  font-weight: 400;
}

body ul {
  margin: 0;
  padding: 0;
}

body li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body a img {
  border: none;
}

body .container {
  width: 100%;
}

body header {
  height: 2.7vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  line-height: 2.7vw;
  z-index: 10;
}

body header .header-logo {
  float: left;
  color: #0ba2d8;
  font-weight: 700;
  margin-left: 10vw;
  font-size: 1.5vw;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
  display: inline-block;
}

body header .header-menu-right {
  float: right;
  margin-right: 1vw;
  font-size: 1.5vw;
}

body header .header-menu-right li {
  float: left;
}

body header .header-menu-right a {
  color: #323A45;
  font-weight: 700;
  padding-left: 10vw;
  padding-right: 10vw;
  text-decoration: none;
}

body header .header-menu-right a:hover {
  color: #0ba2d8;
  -webkit-transition: color .3s;
  transition: color .3s;
}

body .intro-section {
  margin-top: 2.7vw;
  width: 100%;
}

body .intro-section #intro-carousel {
  height: 34vw;
}

body .intro-section #intro-carousel li {
  background-color: #869791;
  position: relative;
  top: 1vw;
}

body .intro-section .intro-box {
  margin: 0 auto;
  width: 100%;
  height: 34vw;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 20px 15px 15px 20px;
  z-index: 0;
  margin-top: 0px;
}

body .intro-section .intro-box .workshop-title {
  position: absolute;
  margin-top: 8vw;
  margin-left: 30vw;
  font-size: 5vw;
}

body .intro-section .intro-box .workshop-description {
  position: absolute !important;
  margin: 0 auto;
  margin-left: 27vw;
  margin-top: 18vw;
  font-size: 1.2vw;
  text-align: center;
}

body .intro-section .intro-box .paracordimg {
  float: left;
  margin-top: 4vw;
  margin-left: 0%;
  width: 50vw;
  height: auto;
}

body .intro-section .intro-box .townimg {
  float: left;
  width: 30vw;
  height: auto;
  margin-left: 15vw;
}

body .intro-section .intro-box .outdoorimg {
  width: 63%;
  height: auto;
  float: right;
  margin-top: 1%;
  margin-right: 30%;
  position: absolute;
}

body .intro-section .carousel-control {
  color: white !important;
}

body .workshop_schedule {
  margin-bottom: 5vw;
}

body .workshop_schedule .list_box {
  margin-top: 3vw;
}

body .workshop_schedule .list_box:last-child {
  margin-bottom: 0;
}

body .workshop_schedule .list_box .list_boxTtl {
  border-bottom: 2px solid #c3e1ec;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  color: black;
}

body .workshop_schedule .list_box .list_boxTtl .list_boxTtl_text {
  position: relative;
  display: inline-block;
  margin-bottom: -2px;
  margin-left: 5%;
  padding: 10px 3px 15px 3px;
  border-bottom: 2px solid #0ba2d8;
}

body .workshop_schedule .list_box .list_boxInc .list_box_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body .workshop_schedule .list_box .list_boxInc .list_box_item:after {
  content: '';
  display: block;
  border-bottom: 4px dotted #0ba2d8;
  width: 100%;
  height: 0;
}

body .workshop_schedule .list_box .list_boxInc .list_box_item:hover {
  background-color: #c3e1ec;
  text-decoration: none !important;
}

body .workshop_schedule .list_box .list_boxInc .list_box_item:hover .ttl {
  text-decoration: underline !important;
}

body .workshop_schedule .list_box .list_boxInc .list_box_item .list_box_itemInfo {
  width: 63%;
}

body .workshop_schedule .list_box .list_boxInc .list_box_item .list_box_itemImg {
  padding-top: 2vw;
  margin-bottom: 24px;
  width: 35%;
  margin-left: -90vw;
  margin-right: 3vw;
}

body .workshop_schedule .list_box .list_boxInc .list_box_item .list_box_itemImg .list_box_itemImg_item {
  width: 100%;
  height: auto;
}

body .workshop_schedule .list_box .list_boxInc .list_box_item .list_box_itemTtl {
  padding-top: 15px;
  margin-bottom: 15px;
}

body .workshop_schedule .list_box .list_boxInc .list_box_item .list_box_itemTtl .ttl_cat {
  display: inline-block;
  margin-right: 5%;
  border-radius: 7px;
  border: 2px solid #0ba2d8;
  padding: 3px;
  width: 15%;
  background-color: #fdfdfd;
  text-align: center;
  vertical-align: 3px;
  font-size: 2.4vw;
  line-height: 1;
  color: #333333;
}

body .workshop_schedule .list_box .list_boxInc .list_box_item .list_box_itemTtl .ttl {
  font-size: 3.1vw;
  line-height: 1;
  color: #6060d3;
}

body .workshop_schedule .list_box .list_boxInc .list_box_item .list_box_detail {
  font-size: 1.3vw;
}

body footer {
  background-color: #cccccc;
  height: 300px;
}

body footer .container {
  width: 100%;
  height: 0%;
  margin: 0;
  padding: 0;
}

body footer .contact-info {
  margin-top: 1%;
  width: 10%;
  margin-right: 0;
  padding-right: 0;
  right: 0;
}

body footer .contact-info h3 {
  font-size: 40px;
}

body footer .about-me {
  margin-top: 1%;
  margin-left: 30%;
  position: relative;
  width: 20%;
}
/*# sourceMappingURL=workshopK.css.map */