body {
    margin: 0;
    font-weight: 400;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
        transition: all .3s;
    }

    .container  {
        width: 100%;
        
    }

    header {
        height: 2.7vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        line-height: 2.7vw;
        z-index: 10;

        .header-logo{
            float: left;
            color: #0ba2d8;
            font-weight: 700;
            margin-left:10vw;
            font-size: 1.5vw;
            font-family: 'Dosis', sans-serif;
            cursor: pointer;
            display:inline-block;
        }

        .header-menu-right {
            float: right;
            margin-right: 1vw;
            font-size: 1.5vw;

            li {
                float:left;
            }

            a {
                color: #323A45;
                font-weight: 700;
                padding-left: 10vw;
                padding-right:10vw;
                text-decoration: none;

                &:hover {
                    color: #0ba2d8;
                    transition: color .3s;
                }
            }

            
        }
    }
    .intro-section{
        margin-top: 2.7vw;
        width: 100%;

        #intro-carousel {
            height: 34vw;

            li {
                background-color: #869791;
                position: relative;
                top: 1vw;
            }
            
        }

        .intro-box {
            margin: 0 auto;
            width: 100%;
            height: 34vw;
            overflow: hidden;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            
            
            //position: relative;
            //border: 2px solid #007b43; /*左枠線*/
            
            width: 90%;
            padding: 20px 15px 15px 20px;
            z-index: 0;

            margin-top: 0px;

            .workshop-title {
                position: absolute;
                margin-top: 8vw;
                margin-left: 30vw;
                font-size: 5vw;
            }

            .workshop-description {
                position: absolute !important;
                margin: 0 auto;
                margin-left:27vw;
                margin-top: 18vw;
                font-size: 1.2vw;
                text-align:center;

            }
            
            .paracordimg{
                //paracordのところ
                float:left;
                margin-top:4vw;
                margin-left:0%;
                 width: 50vw;
                 height: auto;
            }
            
            .townimg{
                float:left;
                width: 30vw;
                height: auto;
                margin-left: 15vw;
            

            }

            .outdoorimg{
                width: 63%;
                height: auto;
                float: right;
                margin-top: 1%;
                margin-right: 30%;
                position: absolute;


            }
            
        }
        
        .carousel-control{
            color: white !important;
        }                            

        
    }

    footer {
        background-color: darken(white, 20%);
        height: 300px;
        .container{
            width:100%;
            height: 0%;
            margin:0;
            padding:0;
        }

        .contact-info {
            margin-top: 1%;
            width: 10%;
            margin-right:0;
            padding-right:0;
            right:0;

            h3 {
                font-size: 40px;
            }
        }

        .about-me {
            margin-top:1%;
            margin-left:30%;
            position:relative;
            width: 20%;
            
        }
    }

    
}

//起動用
